[supervisorctl]
serverurl=http://localhost:SUPERVISOR

[supervisord]

[inet_http_server]
port = 127.0.0.1:SUPERVISOR

[program:genseq]
command=genseq -p PORT
autostart=true
autorestart=true
startretries=3
exitcodes=0   

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface